.Logo {
    font-family: 'Fredoka One';
    font-size: 9em;
    color: #0D3B66 !important;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #F4D35E;
    margin-left: 10px;
    letter-spacing: 2px;
    padding: 0;
    z-index: 999 !important;
}

.Homepage {
    margin-top: 5%;
}

.Homepage-background {
    background-image: url('./static/backgroundImage.jpg');
    z-index: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150vh;
    
}

.HomepageP{
  background-color: #F4D35E;
  color: #0D3B66;
  width: 29%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
 font-family: 'Fredoka One';
 font-size: 1.5em;
}