.ListingCard {
   display: block;
   height: 250px;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   overflow: hidden;
   border-radius: 15px;
   text-align: left;
   align-items: left;
   margin: 2%;
}

.Listing-image {
   min-height: 250px;
   min-width: 250px;
   overflow: hidden;
}


.ListingCard-title {
   text-transform: capitalize;
}

